@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600;700&display=swap");

:root {
  --font-mono: "Oswald", sans-serif;
  --font-size: 0.88rem;
  --border-radius: 12px;

  --primary-color: #748b30;
  --secund-color: #884013;
  --third-color: #1c5631;
  --fourth-color: #07160d;

  --font-dark: #07160d;
  --font-mid-dark: #0e2b19;
  --font-mid: #1b701b;
  --font-mid-light: #90b09c;
  --font-light: #eaf0ec;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  color: var(--font-dark);
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  overflow-wrap: hidden;
  font-family: var(--font-mono);
}

input {
  border: 1px solid var(--font-mid-light);
  padding: 4px 5px;
  border-radius: 4px;

}

input:hover {
  border: 1px solid var(--font-mid-light);
  background: transparent;
}

input:focus {
  border: 1px solid var(--font-mid-light);
  background: transparent;
}

a {
  color: var(--font-mid);
}

label {
  font-weight: 600;
}

h1 {
  font-size: calc(var(--font-size) + 1rem);
}

h2 {
  font-size: calc(var(--font-size) + 0.9rem);
}

h3 {
  font-size: calc(var(--font-size) + 0.85rem);
}

h4 {
  font-size: calc(var(--font-size) + 0.65rem);
}

h5 {
  font-size: calc(var(--font-size) + 0.5rem);
}
